body {
  background: linear-gradient(to right, #5b80d6, #5578c5);
}

.heading {
  text-align: center;
  color: rgb(43, 38, 38);
  margin-top: 5vw;
  font-family: cursive;
  font-size: 5vw;
}

.practicals {
  padding: 2vw;
}

a {
  display: block;
  width: 10vw;
  padding: 2vw;
  background-color: rgb(164, 168, 224);
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.3vw;

  text-align: center;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 1vw;
}

a:hover {
  background-color: black;
  color: white;
}

.practical-list {
  padding: 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
