* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  background-color: white;
  height: 8vh;
  width: 100%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw;
  text-align: center;
}

footer {
  bottom: 0;
  position: fixed;
  background-color: black;
  padding-top: 2vw;
  padding-bottom: 2vw;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-section1 {
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-size: 1.1vw;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer-section1 .footer-about div {
  padding-right: 2vw;
}

.footer-about,
.footer-categories,
.footer-quickLinks,
.footer-contactUs {
  text-transform: uppercase;
  color: white;
  padding: 1vw 1vw 1vw 1vw;
}

.footer-categories__content {
  margin-top: 1vw;
}

.footer-categories__content div {
  margin-top: 0.5vw;
}

.footer-categories__content div a {
  text-decoration: none;
  color: grey;
}

.footer-categories__content div a:hover {
  color: orange;
}

.footer-about div {
  margin-top: 0.5vw;
  color: gray;
}

.line {
  margin-top: 2vw;
  background-color: rgb(105, 105, 105);
  height: 0.1vw;
  opacity: 0.5;
}

.footer-section2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 3vw 0vw 3vw 0vw;
  color: gray;
  font-size: 1.2vw;
}

.footer-section2 a {
  text-decoration: none;
  padding: 1vw;
  color: white;
  background-color: red;
  border-radius: 1.5vw;
}

.footer-section2 a:hover {
  background-color: rgb(56, 138, 209);
  transform: scale(1.5);
}

.icons {
  padding-top: 1rem;
  text-align: center;
}

.icons a {
  text-decoration: none;
  font-size: 4vw;
  color: #f4f4f4;
}

.icons .fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-twitter,
.fa-github {
  padding: 0.5vw;
  border-radius: 50%;
}

.icons .fa-facebook:hover {
  color: #3b5992;
  background-color: white;
  padding: 0.5vw;
  border-radius: 50%;
}

.icons .fa-linkedin:hover {
  color: #0e76a8;
  background-color: white;
  padding: 0.5vw;
  border-radius: 50%;
}

.icons .fa-instagram:hover {
  color: #fb3958;
  background-color: white;
  padding: 0.5vw;
  border-radius: 50%;
}

.icons .fa-twitter:hover {
  color: #00acee;
  background-color: white;
  padding: 0.5vw;
  border-radius: 50%;
}

.fa-github:hover {
  color: black;
  background-color: white;
  padding: 0.5vw;
  border-radius: 50%;
}

.footer-section3__content {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  padding: 0.2vw;
  font-size: 1.2vw;
}

.footer-section3__content a {
  text-decoration: none;
  color: white;
}

@media (max-width: 850px) {
  .footer-section1 {
    display: block;
    font-size: 1.2vw;
  }
}

@media (max-width: 700px) {
  .footer-section1 {
    display: block;
    font-size: 1.5vw;
  }
}

@media (max-width: 500px) {
  footer {
    height: 80vh;
  }
  .footer-section1 {
    display: block;
    font-size: 1.8vw;
    padding: 3vw 0vw 3vw 0vw;
  }
  .footer-section2 {
    font-size: 3vw;
    padding: 1.5vw 0vw 1.5vw 0vw;
  }
}
