@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

body {
  background-color: #7cb342;
}

.heading {
  text-align: center;
  padding: 5vw;
  font-size: 5vw;
  font-family: "Rampart One", cursive;
}

.content {
  text-align: center;
  background-color: rgb(159, 230, 218);
  padding: 10vw;
  margin: 0vw 10vw 0vw 10vw;
}

span {
  font-size: 1.5vw;
}

button {
  outline: none;
  text-decoration: none;
  border: none;
  box-shadow: 2vw solid white;
  border-radius: 50%;
  font-size: 1.5vw;
  background-color: rgb(221, 82, 82);
  color: black;
  padding: 2vw 2vw 2vw 2vw;
}

button:disabled {
  background-color: gray;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5s;
  background-color: rgb(139, 180, 148);
}

button:disabled:hover {
  background-color: grey;
}

span {
  padding: 2vw;
}
