body {
  background: /*linear-gradient(to right, #d7d1e7, #3f4c6b) #f4f4f3*/ #12232e;
}

.practical-6__heading {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.practical-6__boxes {
  text-align: center;
}

.practical-6__innerBox {
  background-color: rgb(250, 250, 250);
  display: inline-block;
  padding-bottom: 1.5vw;
  width: 20%;
  margin-top: 10vh;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  border-radius: 1vw;
  background: linear-gradient(to right, #b993d6, #8ca6db);
}

.practical-6__image {
  margin-top: 1.5vw;
}

.practical-6__details {
  padding-left: 1vw;
  padding-right: 1vw;
  height: 6vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  overflow: hidden;
}
h3 {
  padding: 1.5vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.practical-6__button a {
  text-decoration: none;
  color: inherit;
}

.practical-6__button {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2vw;
  font-size: 1.3vw;
  background-color: #247baa;
  margin-left: 1.5vw;
  padding: 0.7vw 0.7vw;
  margin-right: 1.5vw;
  border-radius: 0.5vw;
}
.practical-6__button:hover {
  background-color: #00a6ff;
  color: whitesmoke;
  /*font-size: 1.2vw;
  padding: 0.8vw 0.8vw;*/
  cursor: pointer;
}
