* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table {
  margin-top: 2.5vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0vw 0vw 1vw 1vw;
  border-spacing: 0;
  border: 2px solid grey;
}

caption {
  padding: 1vw;
  border: 2px solid black;
  border-radius: 2vw 2vw 0vw 0vw;
  border-bottom: 0px;
  color: white;
  font-size: 1.5vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  background-color: rgb(40, 166, 224);
}

th {
  font-size: 1vw;
  text-align: left;
  padding: 1vw;
  border-bottom: 2px solid grey;
  font-family: Arial, Helvetica, sans-serif;
}

td {
  font-size: 1vw;
  padding: 1vw;
  border-bottom: 2px solid grey;
  font-family: Arial, Helvetica, sans-serif;
}

tr:nth-last-child(1) td {
  border-bottom: none;
}

td a {
  text-decoration: none;
  color: gray;
}

td a:hover {
  color: black;
}

@media (max-width: 750px) {
  caption {
    font-size: 2vw;
  }
  th {
    font-size: 1.5vw;
  }
  td {
    font-size: 1.5vw;
  }
}
